@model IEnumerable<CInemaManager_JihedBenZarb.Models.Cinema.Producer>

@{
    ViewData["Title"] = "ProdsAndTheirMovies";
}

<h1>ProdsAndTheirMovies</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Producer Name
            </th>
            <th>
                Producer Nationality
            </th>
            <th>
                Movies Title
            </th>
            <th>
                Movies Genre
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
@foreach (var movie in item.Movies){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => movie.Title)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.Genre)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
            }
}
    </tbody>
</table>
